.NavBar {
    background-color: var(--primary-color);
    overflow: hidden;
    /* border-radius: 5px; */
    /* border: 1px solid black; */
    /* margin-bottom: 1rem; */
}

.NavBar .active {
    background-color: var(--highlight-color);
}

.NavBar a {
    float: left;
    width: 20%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 5px; */
}

.NavBar a:hover {
    background-color: var(--secondary-color);
}

.NavBar p {
    text-align: center;
}