.banner {
    width: 100%;
    height: 200px;
    border: 1px solid white;
}

.outerContainer {
    width: 80%;
}

.content {
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid white;
    padding: 2rem;
}

.title {
    margin-bottom: 1rem;
    font-size: 30pt;
}